<html>
    <head>
        <title>To-Do lists</title>
        <style>
            td {border: 1px solid black;}
        </style>
    </head>
    <body>
        <h1>{% block header_text %}{% endblock %}</h1>
        <form method="POST" action="{% block form_action %}{% endblock%}">
            <input type="text" id="item_text" name="item_text" placeholder="작업아이템입력" value="">
            {% csrf_token %}
            <input type="submit" value="shot">
        </form>
        {% block table %}
        {% endblock %}
    </body>
</html>