<html>
    <head>
        <title>To-Do lists</title>
        <style>
            td {border: 1px solid black;}
        </style>
    </head>
    <body>
        <h1>To-Do lists</h1>
        <form method="POST" action="/lists/{{ list.id }}/add_item">
            <input type="text" id="item_text" name="item_text" placeholder="작업아이템입력" value="">
            {% csrf_token %}
            <input type="submit" value="shot">
        </form>
        <table id="id_list_table">
            {% for item in list.item_set.all %}
            <tr>
                <td>{{ forloop.counter }}: {{ item.text }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
